.env*
!.env.example
.DS_Store
env
*.pyc
*/__pycache__

common-api/__pycache__/
common-api/*.py[cod]
common-api/*$py.class
common-api/*.so
common-api/.Python
common-api/build/
common-api/develop-eggs/
common-api/dist/
common-api/downloads/
common-api/eggs/
common-api/.eggs/
common-api/lib/
common-api/lib64/
common-api/parts/
common-api/sdist/
common-api/var/
common-api/wheels/
common-api/*.egg-info/
common-api/.installed.cfg
common-api/*.egg
common-api/MANIFEST

common-api/venv/
common-api/env/
common-api/ENV/

common-api/.env
common-api/.env.local
common-api/.env.*.local

common-api/.vscode/
common-api/.idea/
common-api/*.swp
common-api/*.swo
common-api/*~

common-api/*.db
common-api/*.sqlite3

common-api/*.log
common-api/logs/

common-api/.DS_Store
common-api/Thumbs.db

common-api/alembic/versions/*.py
common-api/!alembic/versions/


web/.next/
web/tsconfig.tsbuildinfo
web/out/

web/node_modules
web/.pnp
web/.pnp.js
web/.yarn/install-state.gz

web/build

web/.DS_Store
web/*.pem
web/.swc

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

web/package-lock.json
web/yarn.lock

web/.env*.local

web/.vercel

web/*.tsbuildinfo

web/.vscode

web/.env
web/.env*
web/!.env.example

web/server/dist

web/dist

web/public/mockServiceWorker.js

node_modules/

*/mocks/